* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}


body {
  margin: 0;
  padding: 0;
  background-color: #223d2bef;
  color: #9e9ea4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 23px;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon, .icon_header {
  margin-right: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

/* header style */
.header {
  grid-area: header;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}

/* Sidebar styles */
.container {
  grid-area: sidebar;
  display: flex;
}

.sidebar {
  background: #274632;
  color: #ffffffbe;
  height: 100vh;
  width: 320px;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 30px 15px;
}

.logo {
  font-size: 45px;
  color: #ffffffbe;
}


.bars {
  display: flex;
  font-size: 30px;
  margin-left: 25px;
}

.link {
  display: flex;
  color: #ffffffbe;
  padding: 20px 15px;
  gap: 15px;
  transition: all 0.1s;
}

.link:hover {
  background: rgba(235, 239, 236, 0.481);
  color: #000;
  transition: all 0.5s;
}

.active {
  background: #6dc68c3b;
}

.icon, .link_text {
  font-size: 20px;
  padding: 0;
  list-style-type: none;
}

/* #sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #274632;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 5px;
  font-size: 38px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #9e9ea4;
}
*/

/* Main page */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: #fffffff2;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card:first-child {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #7d2e2e;
}

.card:nth-child(4) {
  background-color: #d50000;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}
/*
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
      'header'
      'main';
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
*/
